:root {
    --dark-blue: #112129;
    --orange: #D63A31;
    --green: #4DA74B;
    --baby-blue: #6ECCFC;
    --yellow: #FBC92E;
    --text-color: white;
    /* To adjust the gap size without using media queries */
    --gap: clamp(30px, 10vw, 80px);
}


/* Default styles */
* {
    box-sizing: border-box;
}

html {
    background-color: var(--dark-blue);
    color: var(--text-color);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

input, textarea, button, select {
    font: inherit;
}