:root {
    --dark-blue: #112129;
    --orange: #D63A31;
    --green: #4DA74B;
    --baby-blue: #6ECCFC;
    --yellow: #FBC92E;
    --text-color: white;
}


/* Default styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

input, textarea, button, select {
    font: inherit;
}