.btn {
    /* To reset default button styles */
    all: unset;
    /* Outline is crucial for accessibility */
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    /* line-height: 1.5; */
    /* letter-spacing: 2px; */
    font-weight: bold;
    transition: opacity 180ms, translate 180ms;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    translate: 1px 1px;
}