/* Input style */
.input {
    width: 100%;
    border-radius: 20px;
    border: none;
    color: var(--dark-blue);
    padding: 12px 10px;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 24px;
    opacity: 0.8;
    transition: opacity 200ms;
}

.input::placeholder {
    color: var(--dark-blue);
}

/* Email input style */
.input-email {
    background-color: var(--yellow);
}

/* Name input style */
.input-name {
    background-color: var(--baby-blue);
}

.input:focus {
    opacity: 1;
    outline: none;
}

/* Message area */
textarea.input {
    background-color: var(--green);
    min-height: 100px;
    resize: vertical;
}